body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

#video {
    text-align: center;
}

#video video {
    width: 80%;
    max-width: 800px;
    margin: 1rem 0;
}

#foto {
    margin-top: 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-item {
    width: 48%;
    margin-bottom: 1rem;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #555;
}

#piloti {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.participant {
    text-align: center;
    width: 20%;
}

.participant img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}



#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Inizia nascosto */
  }
  
  #scrollToTop img {
    width: 50px; /* Regola la dimensione della freccia */
    height: 50px;
  }  